# GIT IGNORE FILE

# files according to building with vscode
.vscode

# files of the built versions
src/main
src/graph

src/*.dSYM
src/*.exe
src/*.out
src/*.app

# object files
src/*.o

# built files in workspace
*.exe

# qtapp build files
build-qtapp-Desktop_Qt_6_4_3_MinGW_64_bit-Debug
